*.pyc
__pycache__
*.exe
*.dll
settings.json
data/red/settings.json
data/red/red.log
*.log
data/duel/duelist.json
*.tmp
data/mod/mod.log
data/red/settings.json
data/red/settings.json
*.log
*.log
*.log
*.log
data/red/settings.json
data/red/red.log
data/red/discord.log
data/mod/mod.log
